#container {
	margin: 0px;
  padding: 0px;
	}
#map {
  margin-top: 0px;
  margin: 0px;
  position: relative;
  height: 350px;
  width: 100%;
	}

/*#infowindow {
  visibility:hidden;
  height: 100px;
  width: 200px;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: 0 1px 1px #cccccc;
  }*/